/* @media screen and (min-width: 768px) { */
  /* #telnavbar {
      display: none;
    } */

  /* #pcnavbar {
      display: initial;
    } */

  /* .header {
    margin: 10px;
  } */

  /* .menupc {
    display: flex;
    flex-direction: row;
  } */
/* 
  .navbar_links1 {
    background-color: #e5e8e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    position: relative;
    top: 6em;
  }
  /* 
  .navbar_links2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
  } */

  /* .navbar_link1 { */
    /* text-decoration: none;
    color: black;
    font-size: 12px;
    height: 6em;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img .navbar_link1 {
    height: 6em;
    margin-left: 5em;
    margin-right: 50px;
  }

  li {
    list-style-type: none;
  }

  .navbar_link1:hover {
    font-weight: bold;
  }

  .logo1 {
    height: 6em;
    margin-left: 5em;
    margin-right: 50px;
  }

  .logo2 {
    margin-right: 5em;
    color: #2b2d2c;
    margin-left: 50px;
    height: 6em;
  }
} */ */
